[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=~/TXRunner/App-Run.sh
Name=TLauncher
Icon=/opt/TLDesktop/fav-pe-icon-512.png
